/* Responsividade geral */
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    
}

body {
    min-width: 100vh;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    background-color: #2d3250;
    padding: 30px;
}

header {
    background-color: #2d3250;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1em;
    justify-content: center;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
}

nav ul li a:hover {
    background-color: #676f9d;
    border-radius: 5px;
}

main {
  margin: auto;
  margin-bottom: 30px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

/* Cards */
.cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.card {
    background-color: #d2a679;
    border-radius: 15px;
    padding: 25px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 180px;
    max-width: 360px;
    height: auto;
}

.card h1 {
    font-size: 1em;
    color: #fff;
    margin-bottom: 10px;
}

.card p {
    color: #fff;
    font-size: 0.8em;
    margin-bottom: 10px;
    padding: 0 10px;
}

/* Card maior */
.card-maior {
    grid-column: span 2; /* Ocupa duas colunas em telas maiores */
    margin: auto 30px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(30px);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

/* Contêiner de imagem */
.imagem-container {
    width: 100%;
    height: 600px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem-container img {
    width: auto;
    height: 100%;
    object-fit: cover;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* Conteúdo do card maior */
.card-content {
    padding: 20px;
    text-align: center;
}

.card-content h2 {
    color: white;
    margin: 0 0 10px;
}

.card-content p {
    font-size: 0.9em;
    color: white;
}
